
<!-- Đoạn script show ra khi nhấn nút ChonThoiGian -->
  <script type="text/ng-template" id="ChonThoiGian.html">
    <div layout="column" layout-align="center center" layout-fill="layout-fill" ng-model="thoigian">
      {{thoigian}}
      <h1>Thao</h1>
    </div>
  </script>
