<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project 2 </title>

    <link rel="stylesheet" href="https://project2-nguyentienthao96.c9users.io/stylesheet/home.css">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <script src="https://use.fontawesome.com/fd85e357aa.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
     <link rel="stylesheet" type="text/css" href="http://localhost:8000/stylesheet/nhap_du_lieu.css">
     <link rel="stylesheet" type="text/css" href="../public/stylesheet/nhapdulieu.css">
    <style>
      .md-button {
        text-transform: none;
      }

      .form{
        width: 40%;
        margin: 0 auto;
      }
      .submit{
        margin-left: 156px;
        margin-right: 22px;
      }
      h1{
        text-align: center;
        padding-bottom: 15px;
        padding-top: 20px;
      }
      .logo{
        margin-left: 30px;
        margin-top: 20px;
      }
      img{
        width: 60%;
      }

    </style>
  </head>
  <body ng-app="myApp" ng-controller="AppCtrl" ng-cloak>
    <!-- header -->
    <header>


    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-10 logo">
          <a href="#">
            <img src="https://ctt-daotao.hust.edu.vn/Images/logo-cttdt.png" alt="logo">
          </a>
        </div>
        <div class="col-md-offset-10">

        <% if(login==false){ %>
            <md-button class="md-raised md-primary" ng-click="showLogin($event)">Sign in</md-button>

        <% } else {%>
            <md-button class="md-raised md-warn" href="/users/logout">Sign Out</md-button>
        <% } %>
        </div>
      </div>
    </div>

    <!-- end header -->

    <!-- <div class="row">
      <div class=" col-md-offset-10">
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="login-signup" >
          <md-button class="md-raised md-primary" ng-click="showSignup($event)">Sign up</md-button>
        </section>
        <% if(login==false){ %>
          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="login-signup" >
            <md-button class="md-raised md-primary" ng-click="showLogin($event)">Sign in</md-button>
          </section>
        <% } else {%>
          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="login-signup" >
            <md-button class="md-raised md-warn" href="/users/logout">Sign Out</md-button>
          </section>
        <% } %>
      </div>
    </div> -->

    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="/" name="page1">
        Trang Chủ
      </md-nav-item>
      <md-nav-item md-nav-href="/tintuc" name="page2">
        Tin Tức
      </md-nav-item>
      <% if(user){ %>
        <md-nav-item md-nav-href="/users/xemlich" name="page3">
          Xem Lịch Giảng Dạy
        </md-nav-item>

        <md-nav-item md-nav-href="/users/dangkylich" name="page4">
          Đăng Ký Lịch Dạy
        </md-nav-item>
      <% } %>
      <% if(user){ %>
        <% if(user.local.email=='nguyentienthao96@gmail.com'){ %>
          <md-nav-item md-nav-href="/users/nhapdulieu" name="page5">
            Nhập Dữ liệu
          </md-nav-item>
          <md-nav-item md-nav-href="#" ng-click="showSignup($event)" name="page5">
            Tạo tài khoản giảng viên
          </md-nav-item>
        <% } %>
      <% } %>
    </md-nav-bar>


    <% if (message1.length > 0 && message1!='Login success') { %>
        <div class="alert alert-danger"><%= message1 %></div>
    <% } %>
        <% if (message2.length > 0) { %>
        <div class="alert alert-danger"><%= message2 %></div>
    <% } %>




<!-- form nhap du lieu -->
    <form action="/users/nhapdulieu" method="post" class="form">
      <h1 class="col-offset-4">Nhập dữ liệu</h1>
      <!-- email -->
      <div class="form-group row">
        <label for="example-email-input" class="col-2 col-form-label">Email</label>
        <div class="col-offset-4 col-10">
          <input class="form-control" type="email" name="email">
        </div>
      </div>
      <!-- giang vien -->
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Giảng viên</label>
        <div class="col-10">
          <input class="form-control" type="text" name="giang_vien" >
        </div>
      </div>
      <!-- dien thoai -->
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Điện thoại</label>
        <div class="col-10">
          <input class="form-control" type="text" name="dien_thoai">
        </div>
      </div>
      <!-- ten lop -->
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Tên lớp</label>
        <div class="col-10">
          <input class="form-control" type="text" name="ten_lop" >
        </div>
      </div>
      <!-- ma lop -->
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Mã lớp</label>
        <div class="col-10">
          <input class="form-control" type="text" name="ma_lop">
        </div>
      </div>
      <!-- ma lop hoc -->
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Mã lớp học</label>
        <div class="col-10">
          <input class="form-control" type="text" name="ma_lop_hoc">
        </div>
      </div>
      <!-- so luong sinh vien -->
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label">Số lượng sinh viên</label>
        <div class="col-10">
          <input class="form-control" type="number" value="42" name="so_luong_sinh_vien">
        </div>
      </div>
      <!-- ma hoc phan -->
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Mã học phần</label>
        <div class="col-10">
          <input class="form-control" type="text" name="ma_hoc_phan">
        </div>
      </div>
      <!-- khoa -->
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Khoa</label>
        <div class="col-10">
          <input class="form-control" type="text" name="khoa">
        </div>
      </div>
      <!-- so tin chi -->
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label">Số tín chỉ</label>
        <div class="col-10">
          <input class="form-control" type="number" value="3" name="so_tin_chi">
        </div>
      </div>
      <!-- phong -->
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Phòng</label>
        <div class="col-10">
          <input class="form-control" type="text" name="phong">
        </div>
      </div>
      <!-- ghi chu -->
      <div class="form-group row">
        <label class="col-2 col-form-label">Ghi chú</label>
        <div class="col-10">
          <textarea class="form-control" placeholder="Nhap ghi chu ... "  name="ghi_chu"></textarea>
        </div>
      </div>
      <!-- submit - reset -->
      <div class="form-group">
        <div class="controls col-md-8 ">
          <input type="submit" name="submit" value="Submit" class="btn btn-primary btn btn-info submit" />
        </div>
      </div>
      <br><br><br>



    </form>


<!-- end form nhap du lieu -->
    <!-- <div id="content">
        <h1>Form nhập dữ liệu</h1>
        <form action="/users/nhapdulieu" method="post">
            <table >
             5 hang 2 cot
                <tr>
                  <td>
                    <label>Email: </label><br>
                    <input type="text" name="email" >
                  </td>
                  <td colspan="" rowspan="" headers="">
                    <label>Giảng viên: </label><br>
                    <input type="text" name="giang_vien" >
                  </td>
                </tr>
                <tr>

                  <td colspan="" rowspan="" headers="">
                    <label>Điện thoại</label><br>
                    <input type="text" name="dien_thoai" >
                  </td>
                  <td>
                    <label>Tên lớp: </label><br>
                    <input type="text" name="ten_lop" >
                  </td>
                </tr>
                <tr>
                  <td colspan="" rowspan="" headers="">
                    <label>Mã lớp: </label><br>
                    <input type="text" name="ma_lop" >
                  </td>
                  <td colspan="" rowspan="" headers="">
                    <label>Mã lớp học: </label><br>
                    <input type="text" name="ma_lop_hoc" >
                  </td>
                  <td>
                    <label>Số lượng sinh viên </label><br>
                    <input type="text" name="so_luong_sv" >
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Mã học phần: </label><br>
                    <input type="text" name="ma_HP" >
                  </td>
                  <td colspan="" rowspan="" headers="">
                    <label>Khóa: </label><br>
                    <input type="text" name="khoa" >
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Số tín chỉ: </label><br>
                    <input type="text" name="so_tin_chi" ><br>
                    <label>Phòng: </label><br>
                    <input type="text" name="phong" >
                  </td>
                  <td colspan="" rowspan="" headers="">
                    <label>Ghi chú: </label><br>
                    <textarea name="ghi_chu"></textarea>
                  </td>
                </tr>
            </table>
           <button type="submit" value="Submit">Submit</button>
        </form>
      </div> -->

    <!-- Đoạn script show ra khi nhấn nút login -->
    <script type="text/ng-template" id="login.html">
      <div ng-app="MyApp" ng-controller="AppCtrl" layout="column" layout-align="center center" layout-fill="layout-fill">
        <form action="/users/login" method="post">
          <div layout="column" class="loginBox md-whiteframe-z1">
            <md-toolbar>
              <h2 class="md-toolbar-tools"><span>Sign in</span></h2>
            </md-toolbar>
            <md-content layout="column" class="md-padding">
              <md-input-container>
                <label>EmailAddress</label>
                <input type="email" name="email"/>
              </md-input-container>
              <md-input-container>
                <label>Password</label>
                <input type="password" name="password"/>
              </md-input-container>
              <div layout="row" layout-align="center center" style="padding-top:20px;">
                <md-button class="md-raised md-primary" type="submit">Sign in</md-button>
                <div flex="flex"></div>

              </div>
            </md-content>
          </div>
        </form>
      </div>
    </script>

    <!-- Đoạn script show ra khi nhấn nút signup -->
    <script type="text/ng-template" id="signup.html">
      <div ng-app="MyApp" ng-controller="AppCtrl" layout="column" layout-align="center center" layout-fill="layout-fill">
        <form action="/users/signup" method="post">
          <div layout="column" class="loginBox md-whiteframe-z1">
            <md-toolbar>
              <h2 class="md-toolbar-tools"><span>Sign up</span></h2>
            </md-toolbar>
            <md-content layout="column" class="md-padding">
              <md-input-container>
                <label>EmailAddress</label>
                <input type="email" name="email"/>
              </md-input-container>
              <md-input-container>
                <label>Password</label>
                <input type="password" name="password"/>
              </md-input-container>
              <div layout="row" layout-align="center center" style="padding-top:20px;">
                <md-button class="md-raised md-primary" type="submit">Sign up</md-button>
                <div flex="flex"></div>
              </div>
            </md-content>
          </div>
        </form>
      </div>
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script>
      angular
        .module('myApp',['ngMaterial'])
        .config(function($mdThemingProvider) {

          // Configure a dark theme with primary foreground yellow

          $mdThemingProvider.theme('docs-dark', 'default')
            .primaryPalette('blue')
            // .dark();
            .accentPalette('green');

        })
        .run(function(){
          console.log("My app is active");
        })
        .controller('AppCtrl', AppCtrl);
        function AppCtrl($scope,$mdDialog) {
          $scope.showlogin=false;
          $scope.currentNavItem = 'page1';
          $scope.showLogin = function(ev) {
              $mdDialog.show({
                controller: DialogController,
                templateUrl: 'login.html',
                parent: angular.element(document.body),
                targetEvent: ev,
                clickOutsideToClose:true,
                fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
              })
              .then(function(answer) {
                $scope.status = 'You said the information was "' + answer + '".';
              }, function() {
                $scope.status = 'You cancelled the dialog.';
              });
            };
            $scope.showSignup = function(ev) {
              $mdDialog.show({
                controller: DialogController,
                templateUrl: 'signup.html',
                parent: angular.element(document.body),
                targetEvent: ev,
                clickOutsideToClose:true,
                fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
              })
              .then(function(answer) {
                $scope.status = 'You said the information was "' + answer + '".';
              }, function() {
                $scope.status = 'You cancelled the dialog.';
              });
            };
        function DialogController($scope, $mdDialog) {
            $scope.hide = function() {
              $mdDialog.hide();
            };

            $scope.cancel = function() {
              $mdDialog.cancel();
            };

            $scope.answer = function(answer) {
              $mdDialog.hide(answer);
            };
          }
        }

    </script>
  </body>


</html>
