<% include partials/head.ejs %>

  <div class="container" style="padding-top:50px">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">  <%= user.local.Tên %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>

                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Department:</td>
                        <td> <%= user.local.Cơquancôngtác %></h3></td>
                      </tr>
                      <tr>
                        <td>Tuổi</td>
                        <td><%= user.local.Tuổi %></td>
                      </tr>

                      <tr>
                        <tr>
                          <td>Gender</td>
                          <td>Female</td>
                        </tr>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com"></a></td>
                      </tr>
                        <td>Phone Number</td>
                        <td><%= user.local.email %></td>
                    </tbody>
                  </table>

                </div>
              </div>

        </div>
      </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <script>
    angular
      .module('myApp',['ngMaterial'])
      .config(function($mdThemingProvider) {

        // Configure a dark theme with primary foreground yellow

        $mdThemingProvider.theme('docs-dark', 'default')
          .primaryPalette('blue')
          // .dark();
          .accentPalette('green');

      })
      .run(function(){
        console.log("My app is active");
      })
      .controller('AppCtrl', AppCtrl);
      function AppCtrl($scope,$mdDialog) {
        $scope.showlogin=false;
        $scope.currentNavItem = 'users/profile';
        $scope.showLogin = function(ev) {
            $mdDialog.show({
              controller: DialogController,
              templateUrl: 'login.html',
              parent: angular.element(document.body),
              targetEvent: ev,
              clickOutsideToClose:true,
              fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
            })
            .then(function(answer) {
              $scope.status = 'You said the information was "' + answer + '".';
            }, function() {
              $scope.status = 'You cancelled the dialog.';
            });
          };
          $scope.showSignup = function(ev) {
            $mdDialog.show({
              controller: DialogController,
              templateUrl: 'signup.html',
              parent: angular.element(document.body),
              targetEvent: ev,
              clickOutsideToClose:true,
              fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
            })
            .then(function(answer) {
              $scope.status = 'You said the information was "' + answer + '".';
            }, function() {
              $scope.status = 'You cancelled the dialog.';
            });
          };
      function DialogController($scope, $mdDialog) {
          $scope.hide = function() {
            $mdDialog.hide();
          };

          $scope.cancel = function() {
            $mdDialog.cancel();
          };

          $scope.answer = function(answer) {
            $mdDialog.hide(answer);
          };
        }
      }

  </script>
  </body>
</html>
